<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Title</title>
</head>
<header>
    <nav class="navbar navbar-dark bg-primary">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand h1" href="#">Basic Banking System</a>
            </div>
            <ul class="navbar-nav mx-5">
                <li class="nav-item">
                  <a class="nav-link h5" href="/">Home</a>
                </li>
            </ul>
          </div>
    </nav>
</header>
<body>
<h1 class="text-center bg-info font-weight-bold mt-2">Transaction Form</h1>
      <div class="container mt-5">
        <form method="post">
              {% csrf_token %}
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="form4Example1"  name="From" class="form-control" value="{{ obj.Name }}"/>
                <label class="form-label" for="form4Example1">From</label>
              </div>

             <!-- Email input -->
              <div class="form-outline mb-4 ">

                <input type="email" id="form3Example3" name="Email" class="form-control" value="{{ obj.Email }}"/>
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <!-- Amount input -->
              <div class="form-outline mb-4">
                <input type="number" id="form3Example2" name="Available" class="form-control" value="{{ obj.Current_Balance }}" />
                <label class="form-label" for="form3Example2">Available Cash</label>
              </div>

              <div class="form-outline mb-4">
                <input type="number" name="Amount" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Amount to Transfer</label>
              </div>

              <div class="form-outline mb-4">
                  <input type="text" name="To" id="form3Example5" list="hosting-plan" class="form-control">
                      <datalist id="hosting-plan">
                          {% for cust in cust %}
                            <option value="{{ cust.Name }}">{{ cust.Current_Balance }}</option>
                          {% endfor %}
                      </datalist>
                  <label class="form-label" for="form3Example5">Transfer To</label>
              </div>
                <!-- Submit button -->
            <div class="align-center">
               <button type="submit" class="btn btn-primary btn-block mb-4">Transfer Money</button>
            </div>

        </form>
      </div>
        <div>
             {% for message in messages %}
                <script>
                    swal("{{ message }}", "", "info");
                </script>

             {% endfor %}
        </div>
</body>
</html>